


<div class="container">
  <br>
  <h3> Begegnungen anlegen </h3>
  <br>
    <div class="col-8 input-group">
      <label class="col-2 input-group-addon" for="Heimmannschaft"> Heim </label>
      <input class="col form-control" type="text" name="Heimmannschaft" type="text" placeholder="Heimmannschaft" #heim>
    </div>

    <div class="col-8 input-group">
      <label class="col-2 input-group-addon" for="Gastmannschaft"> Gast </label>
      <input class="col form-control" type="text" name="Gastmannschaft" placeholder="Gastmannschaft" #gast>
    </div>

    <div class="col-8 input-group">
      <label class="col-2 input-group-addon" for="WappenHeim"> Url </label>
      <input class="col form-control" type="url" name="WapppenHeim" placeholder="http://via.placeholder.com/100x100" #heimUrl>
    </div>

    <div class="col-8 input-group">
      <label class="col-2 input-group-addon" for="WappenGast"> Url </label>
      <input class="col form-control" type="url" name="WapppenGast" placeholder="http://via.placeholder.com/100x100" #gastUrl>
    </div>

    <div class="col-8 input-group">
      <label class="col-2 input-group-addon" for="Date"> Termin </label>
      <input class="col form-control" type="datetime-local" value="2017-08-19T15:30" name="Date" #datum>
    </div>

    <div class="col-8 input-group">
      <label class="col-2 input-group-addon" for="Spielort"> Spielort </label>
      <input class="col form-control" type="text" name="Spielort" placeholder="Spielort" #ort>
    </div>

    <div class="col-8 input-group">
      <label class="col-2 input-group-addon" for="Text"> Text </label>
      <input class="col form-control" type="text" name="Text" placeholder="Ankündigungsschreiben ..." #schreiben>
    </div>
    <br>
    <button class="btn btn-success" type="button" name="button" (click)="addPreview()"> Begegnung anlegen </button>
    <button class="btn btn-danger" type="button" name="button" (click)="erasePreview()"> letzte Begegnung löschen </button>
  </div>
  <hr>
