.back1 {
  background-color: #7838b7;
  opacity: 0.4;
}

.container {
  background-color: #1E88E5;
    color: #fff;
    height: 250px;
    max-width: 400px;
    border: 1px solid #fff;
    padding: 15px;
}

.back0 {
  background-color: #4f5b1d;
  opacity: 0.4;
}
