

<div class="container" *ngFor="let item of previews">
  <div class="row justify-content-center">
    <h4> Spieltag </h4>
  </div>
  <div class="row justify-content-around">
    <img src="http://via.placeholder.com/100X100" name="mannschafta">
    <img src="http://via.placeholder.com/100X100" name="mannschaftb">
  </div>
  <div class="row justify-content-around">
    <label for="mannschafta"> Team A </label>
    <label for="mannschaftb"> Team B </label>
  </div>
  <div class="row">
    <article> Anpfiff ist um 15:30 Uhr, gespielt wird im Gassmannstadion
    </article>
  </div>
</div>
